:root {
    --imageWidthHeight: 180px;
    --imageWidthHeightMainImages: 100px;
}

#MyGramContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;

}


#MainProfileInfo {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;

}

.Span2Columns {
    grid-column-start: 2;
    grid-column-end: 4;
}

.Span3Rows {
    grid-row-start: 1;
    grid-row-end: 4;
}

#ProfileInfo img {
        width: var(--imageWidthHeight);
        height: var(--imageWidthHeight);
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
    }




.BoldText {
    font-weight: bold;
}




#SectionsTable {
    width: 45%;
    margin-left: auto;
    margin-right: auto;

}
#Section {
    display: grid;
    grid-template-columns: auto auto; 
}

#OptionsTable {
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

#Options {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
#OptionsTable {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#Sections img {
    width: var(--imageWidthHeightMainImages);
    height: var(--imageWidthHeightMainImages);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

#MainImagesContainer {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#MainImages img {
    width: 200px;
    height: 200px;
}
#MainImages {
    display: grid;
    grid-template-columns: auto auto auto;
}

