@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div id="MyGramContainer">
    <div id="MainProfileInfo">
      <div class="Span3Rows">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcfIylD9Z5Q3Adsd_yVBALhvUNuyqCu0VLfQ&usqp=CAU" />
        </div>
        <div>
            <span>Cristal Zavala</span>
        </div>
        <div>
            <button class="GramButtons">Follow</button>
        </div>
          <div class="Span2Columns">

             <span class="FontBold">6</span>

             <span>Posts</span>

             <span class="FontBold">No</span>

             <span>Followers</span>

             <span class="FontBold">0</span>

             <span>Following</span>
         </div>


        <div class="Span2Columns">
            <span>This is an Example description</span>
        </div>

      </div>
 </div>


    <div id="SectionsTable">
        <div id="Sections">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtn0FMyOh2tQdZF0KJDnvk4CkVb63pjXaLKw&usqp=CAU" />
                <br>
                <span>My Favorite Color</span>
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvi145gJQfH8qo-y-Gi8oDxQ1sLhwQG5eP3w&usqp=CAU" />
                <br>
                <span>My Rainbow Color</span>
            </div>
        </div>
    </div>
    <div id="Options">
        <div id="OptionsTable">
                <span>POST</span>
                <span>REELS</span>
                <span>IGTV</span>
                <span>TAGGED</span>
            </div>
        </div>

        <div id="MainImagesContainer">
            <div id="MainImages">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-HARM0yU0wTMHTwRErM5N6ingyQOj29b-6w&usqp=CAU" />


                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0BJb9vEZ6Buui-R31VdbpJ3GQK46dotjL5g&usqp=CAU" />


                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fe68a1fd-dc01-4427-8f52-3c17103acad8/dc1zleq-f1d88503-5002-4c0e-ad79-768c61dcce6a.jpg/v1/fill/w_600,h_600,q_75,strp/glossy_lips_drawing_by_jennaportraitartist_dc1zleq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvZmU2OGExZmQtZGMwMS00NDI3LThmNTItM2MxNzEwM2FjYWQ4XC9kYzF6bGVxLWYxZDg4NTAzLTUwMDItNGMwZS1hZDc5LTc2OGM2MWRjY2U2YS5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.O1vZhEZp86KFTl0b4jVzKdnZ9basswSniyBFbxMpmC8" />


                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2-vrrgtRcKVOx5n8BIOZYgaxVDiuzbQ-rtw&usqp=CAU" />

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYznsU3Tzja_JJ4P94FNMQRskjxrwOOPPNFQ&usqp=CAU" />

                <iframe width="200" height="200" src="https://www.youtube.com/embed/76vsKVfwOho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
        </div>
  



