@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div id="MyGramContainer">
    <div id="MainProfileInfo" class="container">
        <div class="row">
            <div class="col-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcfIylD9Z5Q3Adsd_yVBALhvUNuyqCu0VLfQ&usqp=CAU" />
            </div>
            <div class="col-4">
                <span>Cristal Zavala</span>
            </div>
            <div class="col-2">
                <button class="GramButtons">Follow</button>
            </div>
            <div class="col-4">

                <span class="FontBold">6</span>
                <span>Posts</span>
                <span class="FontBold">No</span>
                <span>Followers</span>
                <span class="FontBold">0</span>
                <span>Following</span>
            </div>

            <div class="row">
                <div class="col-3">
                    <span>This is an Example description</span>
                </div>

            </div>



        </div>
    </div>
</div>

<div id="SectionsTable">
    <div id="Sections" class="container">
        <div class="row">

            <div class="col-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtn0FMyOh2tQdZF0KJDnvk4CkVb63pjXaLKw&usqp=CAU" />
                <br>
                <span>My Favorite Color</span>
            </div>
            <div class="col-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvi145gJQfH8qo-y-Gi8oDxQ1sLhwQG5eP3w&usqp=CAU" />
                <br>
                <span>My Rainbow Color</span>
            </div>
        </div>
    </div>
    <div id="Options">
        <div id="OptionsTable" class="container">
            <div class="row">
                <div class="col-3">POSTS</div>
                <div class="col-2">REELS</div>
                <div class="col-2">IGTV</div>
                <div class="col-2">TAGGED</div>
                <div class="col-3"><a href="/Home/CalendarView">View By Clanedar</a></div>


            </div>
        </div>
    </div>
</div>

<div id="MainImagesContainer">
    <div id="MainImages" class="container">
        <div class="row">
            <div class="col-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-HARM0yU0wTMHTwRErM5N6ingyQOj29b-6w&usqp=CAU" /></div>


            <div class="col-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0BJb9vEZ6Buui-R31VdbpJ3GQK46dotjL5g&usqp=CAU" /></div>


            <div class="col-4"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fe68a1fd-dc01-4427-8f52-3c17103acad8/dc1zleq-f1d88503-5002-4c0e-ad79-768c61dcce6a.jpg/v1/fill/w_600,h_600,q_75,strp/glossy_lips_drawing_by_jennaportraitartist_dc1zleq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvZmU2OGExZmQtZGMwMS00NDI3LThmNTItM2MxNzEwM2FjYWQ4XC9kYzF6bGVxLWYxZDg4NTAzLTUwMDItNGMwZS1hZDc5LTc2OGM2MWRjY2U2YS5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.O1vZhEZp86KFTl0b4jVzKdnZ9basswSniyBFbxMpmC8" /></div>

        </div>
        <div class="row">

            <div class="col-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2-vrrgtRcKVOx5n8BIOZYgaxVDiuzbQ-rtw&usqp=CAU" /></div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Pictures">
                Launch demo modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="Pictures" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="rainbow" id="exampleModalLabel">Rainbow</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">

                                    <div class="carousel-item active">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY8p6Ld3juBggVypT-fjHihzCdQVdjNRrZXg&usqp=CAU" class="d-block w-100" />
                                    </div>

                                    <div class="carousel-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtonzPTYxIn4945DI0NOrFjZtLmj0Ej9SrsA&usqp=CAU" class="d-block w-100" />

                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwmWiIUEOLX0tJzSpYP-Ule11A_G40BJvt5A&usqp=CAU" class="d-block w-100" />
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJesdM1lvB5C4IXbzyTw6vm_Alwt0mPRy81A&usqp=CAU" class="d-block w-100" />
                                    </div>

                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExamControl"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hiden="true"></span>
                                    <span class="visual-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExamControl"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hiden="true"></span>
                                    <span class="visual-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-4"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYznsU3Tzja_JJ4P94FNMQRskjxrwOOPPNFQ&usqp=CAU" /></div>

            <div class="col-4"><iframe width="200" height="200" src="https://www.youtube.com/embed/76vsKVfwOho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>
</div>








